.discount {
  padding: 120px 50px;
}

.discount-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;

  gap: 15px;

  margin-bottom: 70px;
}

.discount-content-sub{
  font-size: 14px;

  color: #666;
}

.discount-content-head{
  font-size: 46px;

  line-height: 0.95;

  font-weight: 550;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111;
}

.discount-products {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 18px;
}

.new-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.new-card a {
  text-decoration: none;
}

.new-image-wrapper {
  position: relative;

  overflow: hidden;

  background: #f1f1f1;
}

.new-image {
  width: 100%;

  height: 500px;

  object-fit: cover;

  display: block;

  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.hover-image {
  position: absolute;

  inset: 0;

  opacity: 0;
}

.new-card:hover .hover-image {
  opacity: 1;

  transform: scale(1.03);
}

.new-card:hover .main-image {
  opacity: 0;
}

.new-badge {
  position: absolute;

  top: 20px;
  left: 20px;

  z-index: 5;

  background: rgb(176, 39, 36);

  color: white;

  padding: 10px 14px;

  font-size: 14px;

  font-weight: 600;
}

.product-overlay-button {
  position: absolute;

  left: 24px;
  right: 24px;
  bottom: 24px;

  background: white;

  padding: 22px 24px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  opacity: 0;

  transform: translateY(20px);

  transition: all 0.35s ease;

  z-index: 10;
}

.product-overlay-button span {
  font-size: 18px;

  color: #111;

  font-weight: 500;
}

.product-overlay-button img {
  width: 18px;

  height: 18px;
}

.new-card:hover .product-overlay-button {
  opacity: 1;

  transform: translateY(0);
}

.new-info {
  margin-top: 20px;

  display: flex;

  flex-direction: column;

  gap: 8px;
}

.new-name {
  font-size: 18px;

  color: #111;

  font-weight: 500;
}

.new-price {
  font-size: 18px;

  color: #444;
}

.product-prices{
    display: flex;
    gap:15px;
}

.product-discount-price{
    color: #666;
    text-decoration: line-through;
    text-decoration-color: rgb(119, 112, 112);
}


.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:10px;
}

@media (max-width: 1200px) {
  .discount-products{
    grid-template-columns: repeat(2, 1fr);
  }

  .new-image {
    height: 620px;
  }
}

@media (max-width: 700px) {
  .discount{
    padding: 90px 18px;
  }

  .discount-content-head {
    font-size: 42px;
  }

  .discount-products {
    grid-template-columns: 1fr;

    gap: 30px;
  }

  .new-image {
    height: 600px;
  }

  .product-overlay-button {
    left: 16px;
    right: 16px;
    bottom: 16px;

    padding: 18px;
  }
}
