.product-detail {
  display: grid;
  grid-template-columns: 1.05fr 0.95fr;
  background: white;
  align-items: start;

  gap: 0;
  padding: 0;
}

/* LEFT GALLERY */

.gallery-container {
  position: relative;
  display: flex;
  flex-direction: column;
    padding: 68px 0px 0;
  

  //gap: 18px;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  background: #f4f4f4;
}

.gallery-arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(200, 200, 200, 0.6);
  border: none;
  cursor: pointer;
  z-index: 10;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(180, 180, 180, 0.8);
  }

  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1); // Make the arrow white
  }

  &.prev {
    left: 20px;

    img {
      transform: rotate(180deg);
    }
  }

  &.next {
    right: 20px;
  }
}

/* RIGHT CONTENT */

.product-content {
  position: sticky;
  top: 60px;
  align-self: start;
  display: flex;
  //align-items: center;
  flex-direction: column;
  padding: 140px;
  padding-left: 180px;
  min-height: 100vh;
}

/* BADGES */

.product-badges-wrapper {
  position: absolute;
  transform: translateY(-40px);
  display: flex;
  gap: 10px;
  z-index: 5;
}

.product-badge {
  width: fit-content;
  //padding: 10px 14px;
  padding: 6px;
  background: rgb(176, 39, 36);
  color: white;
  font-size: 13px;
  font-weight: 500;
 
}

.product-badge.new {
  background: #111;
}

/* TITLE */

.product-title {
  font-size: 26px;
//  line-height: 1.05;
  font-weight: 600;
  color: #111;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* DESCRIPTION */

.product-description {
  color: #535151;
  font-size: 15px;
  line-height: 1.5;
 margin-bottom: 20px;
  max-width: 280px;
  
}

/* SIZE */

.size-wrapper {
  display: flex;
  width: 88.5%;
  justify-content: space-between;
  align-items: flex-start;
}

.size-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.size-head {
  font-size: 14px;
  color: #535151;
  font-weight: 500;
}

.sizes {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.size-button {
  width: 55px;
  height: 38px;
  border: none;
  background: rgb(248, 248, 248);
  color: #111;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s ease;
  margin-bottom: 22px;
}

.size-button:hover {
  background: #111;
  color: white;
  
}

.size-button.active {
  background: #111;
  color: white;
  
}

/* SIZE GUIDE */

.size-guide-button {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #535151;
  font-size: 13px;
  padding: 0;
}

.size-guide-button img {
  width: 16px;
  height: 16px;
}

.size-guide-button:hover {
  opacity: 0.7;
}

/* PRICE */

.product-price-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
}

.product-price {
  font-size: 16px;
  color: #111;

}

.product-old-price {
  font-size: 20px;
  color: #ababab;
  text-decoration: line-through;
  text-decoration-color: #d5d5d5;
}

/* BUTTON */

.add-cart-button {
  width: 88.5%;
  height: 46px;
  border: none;
  background: #111;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: -13px;
  margin-bottom: 26px;
}

.add-cart-button:hover {
  background: #222;
}

/* ACCORDION */

.product-accordion {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.accordion-item {

  //padding-top: 28px;
}

.accordion-head {
  display: flex;
  width: 88.5%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}

.accordion-head span {
  font-size: 14px;
  color: #4F4F4F;
  font-weight: 500;
  
}

.accordion-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.accordion-content-wrapper.open {
  grid-template-rows: 1fr;
}

.accordion-content {
  overflow: hidden;
}

.accordion-inner {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #787676;
  font-size: 14px;
  line-height: 1.3;
  max-width: 500px;
}

/* ACCORDION ARROW */

.accordion-arrow {
  width: 16px;
  height: 16px;
  
  transition: transform 0.3s ease;
}

.accordion-arrow.active {
  transform: rotate(180deg);
}

/* RETURN */

.return-info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 35px;
  color: #555;
  font-size: 14px;
  margin-left: -7px;
}

.return-info img {
  width: 24px;
  height: 24px;
}

/* SIZE GUIDE MODAL */

.size-guide-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.size-guide-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.size-guide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92%;
  max-width: 850px;
  max-height: 90vh;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 45px;
}

.size-guide-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.size-guide-top h2 {
  font-size: 34px;
  color: #111;
  font-weight: 600;
}

.close-guide {
  border: none;
  background: transparent;
  font-size: 34px;
  color: #111;
  cursor: pointer;
}

.guide-section {
  margin-bottom: 40px;
}

.guide-section h3 {
  font-size: 22px;
  color: #111;
  margin-bottom: 24px;
}

.guide-section table {
  width: 100%;
  border-collapse: collapse;
}

.guide-section th,
.guide-section td {
  border: 1px solid #e7e7e7;
  padding: 18px;
  text-align: left;
  font-size: 15px;
}

.guide-section th {
  background: #f7f7f7;
  color: #111;
  font-weight: 600;
}

/* RESPONSIVE */

@media (min-width: 1200px) and (max-width: 1329px) {
  .product-content {
    padding-left: 90px;
    padding-right: 90px;
  }

  .size-button {
    width: 46px;
    min-width: 46px;
    height: 36px;
    font-size: 13px;
  }

  .sizes {
    gap: 8px;
  }

  .size-guide-button {
    font-size: 12px;
  }

  .size-guide-button img {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 1200px) {
  .product-detail {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 0 100px;
  }

  .product-gallery {
    width: 100%;
    margin-bottom: 30px;
  }

  .gallery-container {
    display: block;
    gap: 0;
    padding: 0;
  }

  .gallery-image {
    display: none;
    aspect-ratio: 1/1.2;
    object-fit: cover;

    &.active {
      display: block;
    }
  }

  .gallery-arrow {
    display: flex;
  }

  .product-content {
    position: relative;
    top: unset;
    padding: 0 25px;
    min-height: unset;
  }

  .add-cart-button {
    width: 100%;
  }

  .accordion-head {
    width: 100%;
  }

  .size-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .product-detail {
    padding: 20px 20px 90px;
  }

  .product-title {
    font-size: 34px;
  }

  .product-description {
    font-size: 15px;
  }

  .product-price {
    font-size: 26px;
  }

  .product-old-price {
    font-size: 19px;
  }

  .size-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  .size-guide-content {
    padding: 30px 20px;
  }
}

@media (max-width: 500px) {
  .product-title {
    font-size: 28px;
  }

  .add-cart-button {
    height: 58px;
  }

  .size-button {
    min-width: 48px;
    height: 48px;
  }
}
